/* styling for body */
body{
    background-color: black;
    color: white;
    height: 100vh;
    background: #1e1e1e;
    font-family: Arial, sans-serif;
} 

/* heading styling */
.heading{
    text-transform: capitalize;
    font-size: 4rem;
    text-align: center;
}
.heading span{
    color: rgb(232, 107, 11);
}

/* calculator container */
.calculator {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
    margin-inline: auto;
}
#display {
    width: 100%;
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
input::placeholder{
    font-size: 25px;
    color: #fff;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #444;
    color: white;
}
button:hover {
    background: #666;
}
.equal {
    background: #ff9500;
    grid-row: span 2;
}
.equal:hover {
    background: #666;
}
.erese:hover {
    background: red;
}

.zero {
    grid-column: span 2;
}
